services:
  # 1. Node App
  - type: web
    name: node-app
    runtime: docker
    dockerfilePath: ./app/Dockerfile        # ĐÚNG ĐƯỜNG DẪN
    plan: free
    envVars:
      NODE_ENV: production
    healthCheckPath: /health

  # 2. Prometheus
  - type: private
    name: prometheus
    runtime: docker
    dockerfilePath: ./prometheus/Dockerfile # ĐÚNG
    plan: free
    disk:
      name: prometheus-data
      mountPath: /prometheus
      sizeGB: 1

  # 3. Alertmanager
  - type: private
    name: alertmanager
    runtime: docker
    dockerfilePath: ./alertmanager/Dockerfile # ĐÚNG
    plan: free
    envVars:
      SMTP_SMART_HOST: smtp.gmail.com:587
      SMTP_FROM: sasa270703@gmail.com
      SMTP_AUTH_USERNAME: sasa270703@gmail.com
      SMTP_AUTH_PASSWORD: dnlvfzwcwvwyiqwt
      SMTP_REQUIRE_TLS: "true"

  # 4. Blackbox Exporter
  - type: private
    name: blackbox
    runtime: docker
    dockerfilePath: ./blackbox/Dockerfile   # ĐÚNG
    plan: free

  # 5. Grafana
  - type: web
    name: grafana
    runtime: docker
    dockerfilePath: ./grafana/Dockerfile    # ĐÚNG
    plan: free
    envVars:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin123
