services:
  - type: web
    name: node-app
    runtime: docker
    dockerfilePath: app/Dockerfile
    buildContext: .
    plan: free
    healthCheckPath: /health
    autoDeploy: true

  - type: web
    name: prometheus
    runtime: docker
    dockerfilePath: prometheus/Dockerfile
    buildContext: .
    plan: free
    autoDeploy: true

  - type: web
    name: grafana
    runtime: docker
    dockerfilePath: grafana/Dockerfile
    buildContext: .
    plan: free
    envVars:
      - key: GF_SECURITY_ADMIN_USER
        value: admin
      - key: GF_SECURITY_ADMIN_PASSWORD
        value: admin123
    autoDeploy: true

  - type: web
    name: blackbox
    runtime: docker
    dockerfilePath: blackbox/Dockerfile
    buildContext: .
    plan: free
    autoDeploy: true

  - type: web
    name: alertmanager
    runtime: docker
    dockerfilePath: alertmanager/Dockerfile
    buildContext: .
    plan: free
    envVars:
      - key: SMTP_PASSWORD
        value: dnlvfzwcwvwyiqwt
    autoDeploy: true
